<nav>
  <div class="siite-title">
    <a href="/"><h1>Blogs</h1></a>
    <p>A Blogs Site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create New Blog</a></li>
  </ul>
</nav>
