<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores
        excepturi quisquam sunt dolor, debitis ipsum totam eveniet sapiente eum
        culpa quaerat velit nihil autem et atque rem, minima voluptates ab?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime esse
        inventore, dolorem voluptate, quas assumenda nesciunt, nulla rem id
        soluta eaque doloribus quasi explicabo incidunt reprehenderit aut modi.
        Ex, aliquid?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
